.wrapper {
    box-sizing: border-box;
    margin-top: 25px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-family: 'Hero';
    font-size: 24px;
}

.container {
    display: flex;
}

.subBlock {
    margin-left: 20px;
}

.title {
    font-weight: 400;
}

.price {
    font-weight: 700;
}

.countBlock {
    display: flex;
    width: 100px;
    justify-content: space-between;
    align-items: center;
}

.countButton {
    cursor: pointer;
}

.garbage {
    cursor: pointer;
}