.overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;

    font-family: 'Hero';
}

.drawer {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 450px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 50px 80px;
    background-color: #302E2E;
    color: #fff;

    transform: translateX(-150%);
    animation: ani 0.5s forwards;
}

@keyframes ani {
    0% {
        transform: translateX(-150%);
    }

    100% {
        transform: translateX(0);
    }

    0% {
        transform: translateX(-150%);
    }
}

.userInfo {
    margin-bottom: 45px;
    width: 295px;
}

.userImg {
    width: 110px;
    height: 110px;
    border-radius: 110px;
    margin-bottom: 30px;
}

.userNameP {
    font-size: 26px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 10px;
}

.wallet {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #413D3D;
    width: 244px;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 15px;
}

.moneyP {
    color: #00D29D;
}

.navMenu {
    list-style: none;
    font-size: 28px;
    font-weight: 400;
    padding: 0;
    margin: 0;
    flex: 1;
}

.link {
    text-decoration: none;
    color: #fff;
}

.exitButton {
    font-size: 28px;
    font-weight: 400;
    cursor: pointer;
}

.closeButton {
    position: absolute;
    top: 15px;
    left: 350px;
}

.navbar {
    display: flex;
    background-color: transparent;
    align-items: center;
    height: 110px;
    justify-content: space-between;
}

.container {
    display: inline-block;
    cursor: pointer;
    transform: translateX(200px);
    transition: 0.4s;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}

.change {
    transform: translateX(175px);
    transition: 0.7s;
    margin-left: 200px;
    cursor: pointer;
    z-index: 1;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.logo_container {
    width: 143px;
    height: 56px;
    margin-left: -50px;
    margin-bottom: 30px;
}