.mainBlock {
    background: url('../../imgs/background_udv.jpg');
    background-size: cover; 
    height: 100vh; 
    width: 100%;
}

.logo {
    margin-left: -75px;
}

.textBlock {
    display: flex;
    position: relative;
    font-family: 'Hero';
    font-style: normal;
    font-weight: 400;
    font-size: 78px;
    line-height: 115px;
    color: #00D29D;
    width: 400px;
    height: 150px;
    margin: 50px 0 30px 40px;
}

.titleText {
    position: absolute;
    right: 0;
    top: -14px;
}

.authBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 373px;
    height: 303px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -75px;
}

.authTitle {
    font-family: 'Hero';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    color: #fff;
    margin-top: 0;
    margin-bottom: 43px;
}

.loginInput,
.passInput {
    width: 373px;
    height: 43px;
    background: #000000;
    border: 2px solid #A6A6A6;
    box-sizing: border-box;
    border-radius: 9px;
    font-family: 'Hero';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0.07em;
    color: #fff;
    padding-left: 16px;
}

.loginInputFail, 
.passInputFail {
    width: 373px;
    height: 43px;
    background: #000000;
    border: 2px solid #FF2E2E;
    box-sizing: border-box;
    border-radius: 9px;
    font-family: 'Hero';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0.07em;
    color: #fff;
    padding-left: 16px;
}

.loginInput,
.loginInputFail {
    margin-bottom: 41px;
}

.passInput,
.passInputFail {
    margin-bottom: 11px;
}


.errorMsgHide {
    width: 381px;
    height: 17px;
    transform: scale(0);
    font-family: 'Hero';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.07em;
    color: #FF2E2E;
    margin-bottom: 19px;
}

.errorMsgShow {
    width: 381px;
    height: 17px;
    transform: scale(1);
    font-family: 'Hero';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.07em;
    color: #FF2E2E;
    margin-bottom: 19px;
}

.loginInput::placeholder,
.passInput::placeholder {
    color: #fff;
}

.loginButton {
    width: 282px;
    height: 43px;
    background: #00D29D;
    border-radius: 9px;
    border: none;
    font-family: 'Hero';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    color: #000000;
    padding: 8px 100px;
    cursor: pointer;
    z-index: 1;
}

.loginButton:hover {
    background: #00d29eee;
}

.loginButton:active {
    background: #00d29ec3;
    box-shadow: inset 0px 7px 4px rgba(0, 0, 0, 0.4);
    border-radius: 9px;
}

.authBox {
    z-index: 1;
}

.octopusBlock {
    width: 363px;
    height: 363px;
    margin-right: 150px;
    margin-left: auto;
    z-index: 0;
}