.arrow {
    cursor: pointer;
    position: absolute;
    top: 15px;
    left: 240px;
    width: 40px;
    height: 25px;
    margin: 18px 20px 20px;
}

.arrow div {
    position: relative;
    top: 20px;
    width: 25px;
    height: 5px;
    background-color: #524e4e;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    left: 0;
    display: block;
}

.arrow div::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 5px;
    top: -6px;
    right: 10px;
    background-color: #524e4e;
    transform: rotate(-45deg);
}

.arrow div::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 5px;
    top: 6px;
    right: 10px;
    background-color: #524e4e;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(45deg);
}