*{
    box-sizing: border-box;
}

.wrapper {
    width: 900px;
    color: #fff;
    margin: auto;
    font-family: 'Hero';
}

.bg {
    background: url('../../imgs/background_udv.jpg');
    height: 100vh; 
    width: 100%;
    background-size: cover;
}

.link {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin: 0;
    margin-bottom: 35px;

    font-size: 42px;
    font-weight: 700;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    margin-left: 20px;
}

.profileImg {
    width: 270px;
    height: 270px;
    border-radius: 270px;
}

.userInfo {
    background: #000000;
    box-shadow: 0px 0px 25px rgba(0, 210, 157, 0.7);
    border-radius: 15px;
    width: 430px;
    padding: 18px;
}

.fullName {
    font-family: 'Hero';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
    margin-bottom: 5px;
}

.position {
    font-family: 'Hero';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
}

.balance {
    font-family: 'Hero';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
}

.coins {
    font-family: 'Hero';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #00D29D;
}

.greenBack {
    width: 150px;
    height: 150px;
    background-color: #00D29D;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.imageText {
    width: 140px;
    text-align: center;
    font-family: 'Hero';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
}

.buttonsCont {
    width: 830px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    bottom: 5%;
}

.image {
    width: 75px;
    height: 75px;
}