.navbar {
    width: 950px;
    margin: auto;
    display: flex;
    background-color: transparent;
    font-family: 'Hero';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    align-items: center;
    height: 110px;
    justify-content: space-between;
}

.container {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #524e4e;
    margin: 6px 0;
    transition: 0.4s;
}

.change {
    cursor: pointer;
    z-index: 10;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.navContainer {
    display: flex;
    align-items: center;
}

.navItem {
    margin-right: 30px;
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
}

.navImg {
    margin-right: 10px;
}