.wrapper {
    font-family: 'Hero';
    background: url('../../imgs/background_udv.jpg');
    background-size: cover; 
    width: 100%;
    height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    width: 700px;
    height: 700px;
    padding: 25px 50px 0;
    margin: -70px auto 0px auto;
    border-radius: 60px;
}

.popup {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .4);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}

.scroll {
    overflow: overlay;
    width: 700px;
    padding-left: 70px;
    padding-right: 65px;
    margin-bottom: 55px;
    margin-top: -8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.align {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-family: 'Hero';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 50px;

    color: #6B6868;
    margin-top: 0;
    margin-bottom: 11px; 
}

.subTitle {
    margin-top: 0;
    margin-bottom: 16px;
    font-family: 'Hero';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    color: #00D29D;
}

.link {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    align-self: center;
}

.eventCont {
    width: 565px;
    margin-bottom: 16px;
}

.eventTitle {
    font-family: 'Hero';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #302E2E;
}

.eventInput {
    border: 2px solid #A6A6A6;
    height: 39px;
    width: 562px;
    box-sizing: border-box;
    margin-top: 8px;
    border-radius: 9px;
    font-family: 'Hero';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.07em;
    color: #1E1E1E;
    padding-left: 8px;
}

.areaCont {
    width: 565px;
}

.areaTitle {
    font-family: 'Hero';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #302E2E;
}

.infoArea {
    border: 2px solid #A6A6A6;
    box-sizing: border-box;
    border-radius: 9px;
    width: 562px;
    height: 118px;
    resize: none;
    margin-top: 8px;
    font-family: 'Hero';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.07em;
    color: #1E1E1E;
    padding-left: 8px;
    padding-top: 8px;
}

.dateCont {
    display: flex;
    margin: 0 auto 20px 0;
    align-items: center;
}

.inputDateTitle {
    height: 30px;
    font-family: 'Hero';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #302E2E;
    margin-right: 8px;
}

input[type=date]:required:invalid::-webkit-datetime-edit {
    color: transparent;
}
input[type=date]:focus::-webkit-datetime-edit,
input[type=date]:in-range::-webkit-datetime-edit,
input[type="date"]::-webkit-datetime-edit-day-field {
    color: black !important;
}

::-webkit-calendar-picker-indicator {
    filter: invert(50%);
}

.inputDate {
    width: 160px;
    height: 30px;
    background: #fff;
    box-sizing: border-box;
    border: 2px solid #A6A6A6;
    border-radius: 9px;
    font-family: 'Hero';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 17px;
    letter-spacing: 0.07em;
    color: #1E1E1E;
    padding-left: 16px;
}

.fioCont {
    width: 565px;
    margin: 0 auto 20px 0;
}

.plusButton_hide {
    width: 28px;
    height: 28px;
    display: flex;
    border: none;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: -67px;
    left: -40px;
    cursor: pointer;
    z-index: 0;
}

.plusButton_act {
    width: 28px;
    height: 28px;
    display: flex;
    border: none;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: -67px;
    left: -40px;
    cursor: pointer;
    z-index: 1;
}

.plusButton_act:hover {
    background-color: rgb(226, 226, 226);
}

.plusButton_act:active {
    background-color: rgb(207, 207, 207);
}

.inputTextTitle {
    font-family: 'Hero';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;

    color: #302E2E;
}

.inputText {
    width: 562px;
    height: 39px;
    border: 2px solid #A6A6A6;
    box-sizing: border-box;
    border-radius: 9px;
    font-family: 'Hero';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.07em;
    color: #1E1E1E;
    margin-top: 8px;
    padding-left: 8px;
}

.scoreCont {
    width: 565px;
    display: inline-flex;
    align-items: center;
    margin-bottom: 32px;
}

.inputScore {
    width: 60px;
    height: 35px;
    text-align: center;
    border: 2px solid #A6A6A6;
    box-sizing: border-box;
    border-radius: 9px;
    margin-right: 6px;
    margin-left: 6px;
    font-family: 'Hero';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.score {
    font-family: 'Hero';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #302E2E;
}

.scoreTitle {
    font-family: 'Hero';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #302E2E;
}

.sendButton {
    display: flex;
    width: 236px;
    height: 43px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #00D29D;
    border-radius: 9px;
    font-family: 'Hero';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.sendButton:hover {
    background: #00d29eee;
}

.sendButton:active {
    background: #00d29ec3;
    box-shadow: inset 0px 7px 4px rgba(0, 0, 0, 0.4);
    border-radius: 9px;
}

.title_true {
    width: 420px;
    font-family: 'Hero';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
    margin: 0 auto 8px;
}

.title_false {
    width: 470px;
    font-family: 'Hero';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
    margin: 0 auto 8px;
}

.text_false {
    width: 470px;
    font-family: 'Hero';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 0, 0, 0.8);
    margin: 0 auto 40px;
}

.text_true {
    width: 420px;
    font-family: 'Hero';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.8);
    margin: 0 auto 40px;
}

.content_true {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    width: 580px;
    padding: 50px 50px 25px;
    margin: 0 auto ;
    border-radius: 60px;
    vertical-align: middle;
}

.content_false {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    width: 570px;
    padding: 50px 50px 25px;
    margin: 0 auto ;
    border-radius: 60px;
    vertical-align: middle;
}

.button {
    width: 200px;
    height: 43px;
    background: #00D29D;
    border-radius: 9px;
    border: none;
    font-family: 'Hero';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    cursor: pointer;
}

.button:hover {
    background: #00d29eee;
}

.button:active {
    background: #00d29ec3;
    box-shadow: inset 0px 7px 4px rgba(0, 0, 0, 0.4);
    border-radius: 9px;
}
