.layout {
    
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
    font-family: 'Hero';
}

.drawer {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 450px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 50px 80px;
    background-color: #302E2E;
    color: #fff;

    transform: translateX(-150%);
    animation: ani  0.5s forwards;
}

@keyframes ani {
  0% {transform: translateX(-150%);}
  100% {transform: translateX(0);}
  0% {transform: translateX(-150%);}
}

.navMenu {
    list-style: none;
    font-size: 28px;
    font-weight: 400;
    padding: 90px 0 0 0;
    margin: 0;
    flex: 1;
}

.link {
    text-decoration: none;
    color: #fff;
}

.exitButton {
    font-size: 28px;
    font-weight: 400;
    cursor: pointer;
}

.logo_container {
    width: 143px;
    height: 56px;
    margin-left: -50px;
}

.dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
}

.dropbtn {
    text-decoration: none;
    color: #fff;
    margin-bottom: 16px;
    padding-top: 4px;
}

.dropdownContent {
    display: none;
    position: absolute;
    top: 46px;
    background: #3A3838;
    box-shadow: 0px 0px 15px rgba(138, 138, 138, 0.8);
    margin-left: -80px;
}

.dropdown:hover {
    background: #282828;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 450px;
    padding-left: 80px;
    margin-left: -80px;
    text-decoration-line: underline;
    height: 140px;
}

.dropdown:hover .dropdownContent {display: block;}

.dropCont { 
    text-decoration: none;
    font-family: 'Hero';
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin: 0;
    width: 450px;
    padding: 8px 0 8px 80px;
    
}

.dropCont:nth-child(2n-1) {
    border-bottom: 1px solid #757575;
}